[package]
name = "discord"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serenity = { version = "0.10.10", features =["framework", "standard_framework", "rustls_backend"] }
tokio = { version = "1.17.0", features = ["macros", "rt-multi-thread"] }
