[package]
name = "shuttle-runtime"
version = "0.1.0"
edition.workspace = true
license.workspace = true
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "rocket"

[[bin]]
name = "shuttle-next"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
cap-std = "1.0.2"
clap ={ version = "4.0.18", features = ["derive"] }
hyper = { version = "0.14.23", features = ["server"] }
rmp-serde = { version = "1.1.1" }
thiserror = { workspace = true }
tokio = { version = "1.22.0", features = ["full"] }
tokio-stream = "0.1.11"
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"] }
uuid = { workspace = true, features = ["v4"] }
# TODO: bump these crates to 6.0 when we bump rust to >= 1.66
wasi-common = "4.0.0"
wasmtime = "4.0.0"
wasmtime-wasi = "4.0.0"
futures = "0.3.25"

# For rocket.rs
# TODO: remove
shuttle-secrets = { path = "../resources/secrets" }
rocket = "0.5.0-rc.2"

[dependencies.shuttle-common]
workspace = true
features = ["wasm", "service"]

[dependencies.shuttle-proto]
workspace = true

[dependencies.shuttle-service]
workspace = true
features = ["builder", "web-rocket"] # TODO: remove web-rocket
