[Unit]
Description=mounts the user data

[Mount]
What=${dns_name}:/
Where=${data_dir}
Type=nfs
Options=nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport

[Install]
WantedBy=multi-user.target
